dashboard/mqtt-logger.js
[{ "id": "a5327306.11b2d", "type": "function", "z": "5d57dd27.79b114", "name": "extend_path", "func": "// msg.filename = \"//c//Users//Dan.Edens//OneDrive - Keller//\"\n// var globalskip = msg.topic.includes('_ignore')\n\n// if (globalskip){\n//     msg.topic = msg.topic.replace(\"_ignore\",\"\")\n//     msg.filename = msg.filename + \".ignored\"\n// }else{\n//         var is_path = msg.topic.includes(\"/\");\n//         if (is_path){\n//             msg.topic = msg.topic.replace(\"/\",\"//\")\n//             msg.topic = msg.topic.replace(/ /g,\"_\")\n//             msg.filename = msg.filename + msg.topic\n//         } else {\n//             msg.filename = msg.filename + msg.topic\n//         }\n//     }\n// return msg;\n\nvar is_path = msg.topic.includes(\"/\");\nif (is_path){\n    msg.topic = msg.topic.replace(\"/\",\"//\")\n    msg.filename = \"notes//\"+msg.topic\n} else {\n    msg.filename = \"notes//\"+msg.topic\n}\nreturn msg;", "outputs": 1, "noerr": 0, "initialize": "", "finalize": "", "x": 549, "y": 161, "wires": [["fc8c6621.229098", "68276080.639ec"]] }, { "id": "6c4827c.0e5ebd8", "type": "delay", "z": "5d57dd27.79b114", "name": "3ms", "pauseType": "delay", "timeout": "2", "timeoutUnits": "milliseconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "outputs": 1, "x": 529, "y": 101, "wires": [["a5327306.11b2d"]] }, { "id": "9158f0e.87d241", "type": "moment", "z": "5d57dd27.79b114", "name": "TImestamp", "topic": "", "input": "", "inputType": "date", "inTz": "America/Mexico_City", "adjAmount": 0, "adjType": "days", "adjDir": "add", "format": "MM-DD_HH:mm", "locale": "C", "output": "", "outputType": "msg", "outTz": "America/Mexico_City", "x": 454, "y": 81, "wires": [["a5327306.11b2d"]], "l": false }, { "id": "6513d1b5.e2f45", "type": "switch", "z": "5d57dd27.79b114", "name": "Logstamp Filter", "property": "log_time", "propertyType": "msg", "rules": [{ "t": "else" }, { "t": "true" }], "checkall": "true", "repair": false, "outputs": 2, "x": 362, "y": 139, "wires": [["6c4827c.0e5ebd8", "9158f0e.87d241"], ["a5327306.11b2d"]] }, { "id": "fc8c6621.229098", "type": "switch", "z": "5d57dd27.79b114", "name": "Confirm", "property": "send_confirm", "propertyType": "flow", "rules": [{ "t": "true" }], "checkall": "false", "repair": false, "outputs": 1, "x": 674, "y": 61, "wires": [["b257372d.92bff8"]], "l": false }, { "id": "68276080.639ec", "type": "switch", "z": "5d57dd27.79b114", "name": "", "property": "mqttlog", "propertyType": "flow", "rules": [{ "t": "else" }, { "t": "eq", "v": "json", "vt": "str" }, { "t": "eq", "v": "none", "vt": "str" }], "checkall": "false", "repair": false, "outputs": 3, "x": 674, "y": 161, "wires": [["d14ffb65.ab4d18"], ["443b7356.0dc60c"], ["81c7ddeb.f3175"]], "l": false }, { "id": "d8279082.699b3", "type": "switch", "z": "5d57dd27.79b114", "name": "Deploy Filter", "property": "delay", "propertyType": "flow", "rules": [{ "t": "eq", "v": "1", "vt": "str" }, { "t": "else" }], "checkall": "false", "repair": true, "outputs": 2, "x": 237, "y": 139, "wires": [["6513d1b5.e2f45"], []], "icon": "node-red/status.svg", "l": false }, { "id": "b257372d.92bff8", "type": "change", "z": "5d57dd27.79b114", "name": "Set Text", "rules": [{ "t": "set", "p": "text", "pt": "msg", "to": "payload", "tot": "msg" }], "action": "", "property": "", "from": "", "to": "", "reg": false, "x": 714, "y": 61, "wires": [["89193975.8a7b68"]], "l": false }, { "id": "d14ffb65.ab4d18", "type": "file", "z": "5d57dd27.79b114", "name": "write", "filename": "", "appendNewline": true, "createDir": true, "overwriteFile": "false", "encoding": "none", "x": 755, "y": 140, "wires": [["81c7ddeb.f3175"]], "l": false }, { "id": "443b7356.0dc60c", "type": "change", "z": "5d57dd27.79b114", "d": true, "name": "filepath", "rules": [{ "t": "set", "p": "datapath", "pt": "msg", "to": "filename", "tot": "msg" }], "action": "", "property": "", "from": "", "to": "", "reg": false, "x": 755, "y": 220, "wires": [["d67b07f0.6ca1c8"]], "l": false }, { "id": "81c7ddeb.f3175", "type": "debug", "z": "5d57dd27.79b114", "name": "", "active": true, "tosidebar": true, "console": false, "tostatus": true, "complete": "true", "targetType": "full", "statusVal": "topic", "statusType": "msg", "x": 855, "y": 120, "wires": [], "l": false }, { "id": "9ad4cc2c.3612a", "type": "switch", "z": "5d57dd27.79b114", "name": "Ignore list", "property": "topic", "propertyType": "msg", "rules": [{ "t": "cont", "v": "evernance", "vt": "str" }, { "t": "cont", "v": "CDRouter", "vt": "str" }, { "t": "cont", "v": "AppTestKit", "vt": "str" }, { "t": "cont", "v": "NODESYS", "vt": "str" }, { "t": "cont", "v": "Gui_Automation", "vt": "str" }, { "t": "else" }], "checkall": "false", "repair": false, "outputs": 6, "x": 317, "y": 59, "wires": [[], [], [], [], [], ["d8279082.699b3"]], "icon": "font-awesome/fa-filter", "l": false }, { "id": "89193975.8a7b68", "type": "join-message", "z": "5d57dd27.79b114", "name": "notification", "text": "", "title": "Msg recieved", "url": "", "notificationicon": "", "joinConfig": "af705b49.68a668", "x": 754, "y": 61, "wires": [["81c7ddeb.f3175"]], "l": false }, { "id": "d67b07f0.6ca1c8", "type": "DataOut", "z": "5d57dd27.79b114", "d": true, "collection": "1800cc9f.684003", "name": "", "path": "", "error": true, "x": 795, "y": 220, "wires": [["81c7ddeb.f3175"]], "l": false }, { "id": "409347cb.aed588", "type": "delay", "z": "5d57dd27.79b114", "name": "Rate Limiter", "pauseType": "timed", "timeout": "5", "timeoutUnits": "seconds", "rate": "10", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": true, "allowrate": false, "outputs": 1, "x": 212, "y": 59, "wires": [["9ad4cc2c.3612a"]] }, { "id": "f6a6e903.1b2ee8", "type": "mqtt in", "z": "5d57dd27.79b114", "name": "Mqtt Sub All topics", "topic": "#", "qos": "0", "datatype": "auto", "broker": "5b41a831.e6efd8", "inputs": 0, "x": 77, "y": 59, "wires": [["409347cb.aed588"]], "l": false }, { "id": "af705b49.68a668", "type": "join-config", "name": "", "register": false }, { "id": "1800cc9f.684003", "type": "json-db-collection", "name": "mqtttopicsettings", "collection": "topicsettings", "save": true }, { "id": "5b41a831.e6efd8", "type": "mqtt-broker", "name": "AWS Mqtt Broker", "broker": "localhost", "port": "3003", "clientid": "local-node-red", "autoConnect": true, "usetls": false, "compatmode": false, "protocolVersion": "4", "keepalive": "60", "cleansession": false, "autoUnsubscribe": true, "birthTopic": "status/aws/log", "birthQos": "0", "birthRetain": "true", "birthPayload": "Connected", "birthMsg": {}, "closeTopic": "status/aws/log", "closeQos": "0", "closeRetain": "true", "closePayload": "Shutdown", "closeMsg": {}, "willTopic": "status/aws/log", "willQos": "0", "willRetain": "true", "willPayload": "Disconnected", "willMsg": {}, "userProps": "", "sessionExpiry": "" }]
